rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Fonction pour vérifier si l'utilisateur est authentifié
    function isAuthenticated() {
      return request.auth != null;
    }

    // Accès sécurisé : lecture autorisée pour les utilisateurs authentifiés
    // L'accès en écriture sera restreint par collection dans une prochaine itération
    match /users/{userId} {
      allow read: if isAuthenticated() && request.auth.uid == userId;
    }
    
    match /roles/{roleId} {
      allow read: if isAuthenticated();
    }

    match /{document=**} {
      allow read, write: if false; // Par défaut, tout est refusé
    }
  }
}
